//custom variables
$primary: rgb(0, 17, 149);
$light: #a90000;

//import the functions and the variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
  "gui": #6301d3,
  "altdark": #522191,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
